*{
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*{
    color: aliceblue;
}

header{
    background: #000;
    width: 100%;
    display: flex;
}

header{
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color:rgb(255, 0, 0) ;
}

.chamada {
    background: black;
    padding: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
 
.txt{
    margin: 5%;
}

img{
    height: 200px;
}

.Thumbs{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.Thumbs img{
    opacity: 0.5;
    height: 200px;
}

.Thumbs img:hover{
    opacity: 1.0;
    border: 2px solid rgb(255, 0, 0);;
}

.categoria h2{
    color: rgb(255, 255, 255);
}
